#App {
  max-width: 1240px; /* max-width of #Content + 2*Paper padding */
}

.Paper{
  padding: 20px;
}

#Presets{}

#numIterations{
  display: inline-block;
  width: 2em;
  text-align: center;
}

#LSystemRender{
  margin-top: 10px;
}

#LSystemRender svg{
  width: 100%;
  height: 100%;
}

/* Productions.jsx */
/* Material.UI TextFields for startAngle and turnAngle must be styled as a prop */
.txtAngle{
  display: inline-block;
  width: 10em;
}

/* Flexbox */
.flexContainerHori{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; /*stretch children horizontally*/
}

@media (min-width: 768px) {
  #LSystemRender{
    margin-top: 0px;
  }

  #Content, #LSystemRender{
    flex: 0 0 50%; /*flex-grow flex-shrink flex-basis*/
  }

  /* Flexbox */
  .flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}