
/* App.jsx */
#App {
  max-width: 1240px; /* max-width of #Content + 2*Paper padding */
}

#mainContent{ /* Content is display:inline-block which is treated as text => to center it horizontally we need to set text-align:center */
  text-align: center;
}

.Paper{
  padding: 20px;
}

/* Presets.jsx */
#Presets{}

/* Content.jsx */
/* LSystemRender.jsx */
#Content, #LSystemRender{
/*  box-sizing: border-box;
  padding: 20px;*/
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  max-width: 600px;
  min-width: 500px;
}

#LSystemRender svg{
  width: 100%;
  height: 100%;
}

/* Productions.jsx */
/* Material.UI TextFields for startAngle and turnAngle must be styled as a prop */
.txtAngle{
  display: inline-block;
  width: 10em;
}

/* Output.jsx */

/* ErrorSnackbar.jsx */